body {
	font-family: Verdana, sans-serif;
}
#header {
	margin-top: 15px;
	height: 45px;
	width: 100%;
	background-color: #c3d7df;
}

.title {
	color: #6e9cad;
	font-weight: bold;
	font-size: 23px;
	display: inline-block;
	padding: 10px 0 0 209px;
}

.additems {
	float:right;
	margin-right: 209px;
	height: 45px;
	padding-top: 5px;
}


.additems input{
	width: 200px;
	margin-top: 10px;
}

.additems button {
	text-decoration: none;
	width: 100px;
	background-color: #6e9cad;
	color: #FFFFFF;
	border-radius: 4px;
	border: 0;
}

.additems button:hover { 
	text-decoration: none;
	width: 100px;
	background-color: #4f8092;
	color: #FFFFFF;
	border-radius: 4px;
	border: 0;
}

li {
	border-bottom: 1px solid #eeefef;
	margin: 10px 0 10px 30px;
	font-size: 16px;
	color: #709cad;
	padding-bottom: 10px;

}


#list {
	margin: 0 178px 0 178px;
}

#directions {
	font-style: italic;
	font-size: 12px;
	color: #709cad;
	margin: 10px 0 10px 30px;
	border-bottom: 3px solid #eeefef;
	padding-bottom: 5px;

}

.complete {
	text-decoration: line-through ;
	color: darkgray;
	list-style: none;
}

#list button {
	text-decoration: none;
	width: 100px;
	background-color: #6e9cad;
	color: #FFFFFF;
	border-radius: 4px;
	border: 0;
	margin: 10px 0 0 30px;

}

#list button:hover {
	border: 1px solid red;
	text-decoration: none;
	width: 100px;
	background-color: #4f8092
	color: #FFFFFF;
	border-radius: 4px;
	border: 0;
	margin: 10px 0 0 30px;
	
}

.texts {
	margin-left: 30px;
	font-size: 16px;
	color: #709cad;
}
